
$breakpoint-bigscreen1200 :1200px;
$breakpoint-bigscreen991 :991px;
$breakpoint-tabletscreen :768px;
$breakpoint-mobilescreen :450px;



@media only screen and (max-width: $breakpoint-bigscreen991) {
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.5rem 2rem;
    }

    section{
        padding: 2rem;
    }
}

@media only screen and (max-width: $breakpoint-tabletscreen) {
    #menu-btn{
        display: inline-block;
    }

    .header{
        .navbar{
            position: absolute;
            top: 100%; right: -100%;
            background: map-get($color, "color1" );
            width: 30rem;
            height: calc(100vh - 9.5rem);
            &.active{
                right: 0;
            }
            a{
                color: map-get($color, "black" );
                display: block;
                margin: 1.5rem;
                padding: 0.5rem;
                font-size: 2rem;
            }
        }
        .search-form{
            width: 90%;
            right: 2rem;
        }
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
        .content{
            h3{
                font-size: 4.5rem;
            }
            p{
                font-size: 1.5rem;
            }
        }
    }

}

@media only screen and (max-width: $breakpoint-mobilescreen){
    html{
        font-size: 50%;
    }
}